# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\Desktop\Fiverr\Orders\Minecraft Plugin\DiscordSync - sunnieyang740 - 18-01-2021\Source\DiscordSync\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
